header .carousel-inner .item {
  height: 100vh;
}
a {
  cursor: pointer;
}
nav {
  font-family: 'Libre Barcode 128 Text', cursive;
}

.navbar {
  background-color: black;
  z-index: 9999;
}

.create-post {
  position: fixed;
  z-index: 999;
  float: right;
  color: #050505;
  background-color: red;
  margin: 0;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  top: 85%;
  left: 92%;
}
.create-post:hover {
  top: 84.5%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  box-shadow: 0px 2px 15px;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  padding: 10px 6px;
}
.navbar {
  height: 80px;
}
.navbar-brand {
  position: absolute;
  top: 25px;
  margin: 5px 0px;
}

.card-title {
  font-size: 20px;
  font-weight: bolder;
}
.card p {
  text-align: left;
}
.card {
  padding: 6px 6px;
  margin: 10px;
}

.response-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.response-container .card {
  height: 100%;
  display: block;
  width: 250px;
  background-color: rgb(240, 239, 239);
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 20px -8px rgba(0, 0, 0, 0.75);
}
.response-container h4 {
  font-size: 24px;
  font-weight: bold;
}
.response-container a {
  font-size: 14px;
}
.response-container h5 {
  font-size: 20px;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: #ff0000;

  font-size: 50px;
  padding: 0px 1px;
  font-weight: bold;
}
.nav.navbar-nav.navbar-right {
  margin-top: 6px;
  font-size: 40px;
  font-weight: bold;
}
.main-error {
  width: 100%;
  position: relative;
  top: 200px;
  text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ff0000;
  text-transform: uppercase;
}
.banner {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
.carousel-caption {
  padding-bottom: 250px;
  font-family: 'VT323', monospace;
}
.carousel-caption h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
}
.carousel-caption h2 span {
  color: #ff0000;
}
.carousel-caption a {
  background: #edbb00;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #050505;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 25px;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.carousel-indicators .active {
  background-color: #edbb00;
  border-color: #edbb00;
}
.navbar-brand,
nav ul li a:hover {
  transition: 0.5s ease-in-out;
}
.contactus-container,
.aboutus-container {
  background-color: #ffffff;
  padding: 34px 0;
  width: 100%;
  height: 100%;
}
.aboutus-container .container {
  width: 100%;
  height: 100vh;
}

.response-container {
  height: 100vh;
}
.contactus {
  position: relative;
  justify-content: center;
  margin-bottom: 24px;
}

.aboutus div {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  margin: 0px 36px;
}
.aboutus h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.aboutus p {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 15px;
  margin: 0px 40px;
}
.contactus h2 {
  font-weight: bold;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.form-horizontal {
  margin-top: 16px;
}
.form-control {
  width: 100%;
}
.blog-container {
  padding: 14.5px 10px;
  position: relative;
}
.contactus h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 0px 0px;
}
.contactus {
  background-color: rgba(73, 73, 73, 0.062);
  width: 70%;
  padding: 6px;
  padding-right: 70px;
}
.contactus input[type='text'],
input[type='email'],
input[type='password'] {
  height: 40px;
}
.btn-success {
  padding: 10px 40px;
  float: right;
}
.heading-secondary.heading-secondary--error {
  font-size: 3em;
  font-weight: 600;
}
.error__msg {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.589);
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.hide-error {
  display: none;
}
.show-error {
  display: block;
}
.custom-alert {
  position: fixed;
  top: 0px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.5rem 4rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

/* Confirm Popup  */
body {
  font-family: sans-serif;
}
.dialog-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.dialog-ovelay .dialog {
  width: 400px;
  margin: 250px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}
.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5;
}
.dialog-ovelay .dialog header h3 {
  font-size: 14px;
  margin: 0;
  color: #555;
  display: inline-block;
}
.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 2px;
  border-radius: 1px;
}
.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9;
}
.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673ab7;
  color: #a2a2a2;
}
.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px;
}
.dialog-ovelay .dialog .dialog-msg p {
  margin: 0;
  font-size: 15px;
  color: #333;
}
.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px;
}
.dialog-ovelay .dialog footer .controls {
  direction: rtl;
}
.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px;
}
.button {
  cursor: pointer;
}
.button-default {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: #5d5d5d;
}
.button-danger {
  background-color: #f44336;
  border: 1px solid #d32f2f;
  color: #f5f5f5;
}
#errorName {
  color: red;
}
/*responsive css*/

/* Admin Form Control Stlee */
.admin-control-panel {
  background-color: #00ffaa4f;
  padding: 30px;
  display: flex;
  margin: 50px auto;
}
.admin-form-control h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.admin-form-control {
  margin: 20px;
  position: relative;
  width: 100%;
}
.admin-control-panel .side-nav {
  width: 100%;
}
label {
  color: #4e4e4e !important;
}
.side-nav ul li {
  list-style: none;
  font-size: 14px;
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(49, 49, 49);
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transform: translateX(-3px);
}
.side-nav i {
  font-size: 2em;
  margin: 0px 8px;
}
.side-nav a:hover {
  transform: translateX(3px);
}
.admin-form-control input {
  width: 100%;
  border: none !important;
  outline: 0;
}
nav {
  border-radius: 0 !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* .carousel-caption {
		padding-bottom: 50px;
  } */
  .navbar {
    border-radius: 0 !important;
    background-color: black;
    z-index: 9999;
  }
  .contactus {
    width: 100%;
    padding-right: 70px;
  }
  .carousel-caption h2 {
    font-size: 50px;
  }
  .create-post {
    left: 85%;
  }
}
@media only screen and (max-width: 767px) {
  .response-container {
    height: 100%;
  }
  .contactus {
    width: 100%;
    padding-right: 10px;
  }
  .aboutus p {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0px;
    margin: 0px 0px;
  }
  .aboutus-container {
    padding: 10px;
  }
  .aboutus {
    padding: 0;
  }
  .navbar-inverse .navbar-brand {
    font-size: 40px;
  }
  .navbar-collapse {
    margin-top: 18px;
  }
  .navbar-inverse .navbar-nav > li {
    margin: 8px 0px;
  }
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.5);
  }
  /* .carousel-caption {
		padding-bottom: 20px;
	} */
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption h3 {
    font-size: 18px;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }
  .blog-form-container {
    width: 100%;
  }
  .create-post {
    left: 85%;
  }
}
.form-user-login a {
  margin: 0;
}
@media only screen and (max-width: 926px) {
  .aboutus-container .container {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .dialog-ovelay .dialog {
    width: 300px;
  }

  .create-post {
    left: 80%;
  }
}
